@media (min-width: 576px) {
  .container {
    padding: 0 100px;
  }

  .container2 {
    padding: 0 100px;
  }
}

@media (min-width: 768px) {
  .mobile__menu{
    display: none;
  }

  .container {
    padding: 0 150px;
  }

  .container2 {
    padding: 0 150px;
  }
}

@media (max-width:767px) {
  .header__content {
    display: none;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0 200px;
  }

  .container2 {
    padding: 0 200px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 300px;
  }

  .container2 {
    padding: 0 300px;
  }
}

@media (min-width: 1600px) {
  .container {
    padding: 0 400px;
  }

  .container2 {
    padding: 0 400px;
  }
}

@media (min-width: 1920px) {
  .container {
    padding: 0 475px;
  }
}


/* mobile-menu */
@media (min-width: 400px) {
  .mobile-nav{
    height: 75vh;
  }
}

@media (min-width: 487px) {
  .mobile-nav{
    height: 78vh;
  }
}

@media (min-width: 576px) {
  .mobile-nav{
    height: 72vh;
  }
}

@media (min-width: 595px) {
  .mobile-nav{
    height: 75vh;
  }
}

@media (min-width: 657px) {
  .mobile-nav{
    height: 78vh;
  }
}


/* header */
@media (min-width: 500px) {
  .backimg {
    max-width: 130%;
  }
}

@media (min-width: 768px) {
  .backimg {
    top: 0px;
    left: -500px;
    max-width: 131%;
  }

  .header__content {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .header__logo {
    margin-right: 20px;
    height: 20px;
    z-index: 5;
  }

  .header__nav {
    z-index: 20;
  }

  .nav__list {
    flex-wrap: wrap;
    gap: 5px;
  }


  .nav__link {
    font-family: Montserrat;
    font-size: 10px;
    color: #fff;
    position: relative; 
    text-decoration: none; 

  }
   .nav__link-hover:after {
    content: ""; 
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%; 
    height: 2px; 
    background-color: #f14d34; 
    transform: scaleX(0); 
    transition: transform 0.3s ease; 
}

.nav__link-hover:hover:after {
    transform: scaleX(1); 
}
.dropbtn {
    font-family: Montserrat;
    font-size: 10px;
    color: #fff;
    background: none; 
    border: none; 
    cursor: pointer; 
}

.dropdown {
    position: relative;
}

.dropdown__list {
    display: none; 
    position: absolute; 
    background-color: #f14d34;
    min-width: 160px;
    z-index: 1000; 
}

.dropdown:hover .dropdown__list {
    display: block;
}

.dropdown__item {
    padding: 12px 16px;
    font-family: Montserrat;
    font-size: 10px;
    color: #fff;
}

.dropdown__item:hover {
    background-color: #d43b2c;
}


  .hero__content {
    flex-direction: row;
    gap: 20px;
  }

  .top-left {
    align-items: start;
  }

  .hero__title {
    padding-top: 0;
    margin-bottom: 20px;
    text-align: left;
  }

  .hero__text {
    margin-bottom: 40px;
    text-align: left;
  }

  .hero__btn {
    padding: 20px 40px;
  }

  .hero__list {
    padding-top: 40px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1024px) {
  .backimg {
    max-width: 75%;
  }

  .hero__content {
    gap: 50px;
  }
}

@media (min-width: 1400px) {
  .bottom-right {
    max-width: 53%;
  }
}

@media (min-width: 1400px) {
  .backimg {
    max-width: 70%;
  }

  .list__item {
    width: calc((100% - 40px) / 3);
    padding-left: 10px;
  }

  .hero__btn {
    padding: 20px 60px;
  }

  .nav__list {
    gap: 9px;
  }

  .nav__link {
    font-size: 11px;
  }

  .dropbtn {
    font-size: 11px;
  }

  .dropdown__item {
    font-size: 11px;
  }
}

@media (min-width: 1600px) {
  .header__logo {
    margin-right: 40px;
  }

  .nav__list {
    gap: 20px;
  }

  .nav__link {
    font-size: 12px;
  }

  .dropbtn {
    font-size: 12px;
  }

  .dropdown__item {
    font-size: 12px;
  }

  .backimg {
    max-width: 60%;
  }

  .list__item:nth-child(-n+3) {
    margin-bottom: 38px;
  }

  .hero__title {
    font-size: 41px;
  }
}

@media (min-width: 1800px) {
  .hero__content {
    gap: 100px;
  }

  .hero__title {
    font-size: 41px;
  }

  .hero__text {
    margin-bottom: 70px;
  }

  .bottom-right {
    max-width: 50%;
  }
}


/* advantages */
@media (min-width: 1200px) {
  .advantages {
    padding-top: 100px;
    margin-bottom: 100px;
  }

  .advantages__title {
    font-size: 41px;
  }

  .advantages__text {
    margin-bottom: 40px;
    font-size: 18px;
    max-width: 50%;
  }

  .advantages__list {
    flex-wrap: wrap;
    gap: 20px;
  }

  .advantages__item {
    width: calc((100% - 60px) / 4);
  }

  .advan__bgimg {
    left: -55px;
  }

  .advan__img {
    padding-left: 0;
  }
}

@media (min-width: 1400px) {
  .advan__text {
    max-width: 70%;
  }
}


/* support */
/* support */
@media (min-width: 992px) {
  .support__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px; /* Добавьте gap для управления отступами */
  }

  .support__item {
    width: calc(50% - 5px); /* Учитываем отступы */
  }
}

@media (min-width: 1400px) {
  .support__title {
    font-size: 41px;
  }

  .support__list {
    gap: 15px; /* Подберите оптимальное расстояние между элементами */
  }

  .support__item {
    width: calc(33.33% - 10px); /* Учитываем отступы */
  }
}

@media (min-width: 1800px) {
  .support__list {
    gap: 20px; /* Подберите оптимальное расстояние между элементами */
  }

  .support__item {
    width: calc(25% - 15px); /* Учитываем отступы */
  }
}



/* drupal */
@media (min-width: 576px) {
  .content__img {
    width: 55%;
  }
}

@media (min-width: 768px) {
  .content__img {
    width: 40%;
  }
}

@media (min-width: 992px) {
  .back__img {
    background-size: 65%;
  }

  .content__img {
    bottom: -120px;
  }
}

@media (min-width: 1024px) {
  .content__img {
    bottom: -100px;
  }

  .content__text {
    padding-left: 25%;
  }

  .drupal__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .drupal__item {
    width: calc((100% - 15px) / 2);
  }

  .drupal__text {
    max-width: 100%;
  }
}

@media (min-width: 1600px) {
  .content__img {
    bottom: -105px;
  }

  .content__text {
    padding-top: 215px;
    padding-left: 40%;
  }
}

@media (min-width: 1800px) {
  .content__text {
    padding-left: 51%;
  }
}

@media (min-width: 1920px) {
  .content__img {
    width: 27%;
  }
}


/* tasks */
@media (min-width: 768px) {
  .tasks__list {
    flex-direction: row;
  }

  .task__item {
    width: calc((100% - (50 * 2)) / (2 + 1));
  }

  .task__bgimg {
    top: 15px;
    left: -55px;
  }

  .task__img {
    padding-left: 0;
  }

  .task__title {
    text-align: left;
  }

  .task__text {
    max-width: 66%;
  }
}

@media (min-width: 1200px) {
  .tasks {
    margin-bottom: 150px;
    padding-top: 100px;
  }

  .tasks__title {
    margin-bottom: 40px;
    max-width: 87%;
    font-size: 41px;
  }

  .tasks__list {
    gap: 80px;
  }
}


/* tariffs */
@media (min-width: 1400px) {
  .tariffs {
    background: url("../img/Fon.png") no-repeat;
    background-size: cover;
  }

  .tariffs__title {
    margin-bottom: 40px;
    font-size: 41px;
  }

  .tariff__cards {
    margin-bottom: 100px;
    flex-direction: row;
    gap: 20px;
  }

  .card {
    width: calc((100% - 40px) / 3);
  }

  .card__btn {
    padding: 20px 0px;
  }

  .tarriffs__ps {
    max-width: 50%;
    margin: 0 auto;
  }

  .tariff__text {
    font-size: 18px;
  }
}


/* team */
@media (min-width: 992px) {
  .img__member {
    max-width: 190px;
  }

  .team__list {
    margin-bottom: 40px;
  }

  .team__item {
    width: calc((100% - 30px) / 3);
  }

  .post__member {
    max-width: 66%;
    font-size: 16px;
  }

  .team__btn {
    padding: 20px 50px;
  }
}


/* cases */
@media (min-width: 992px) {
  .cases__title {
    font-size: 41px;
  }

  .cases__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 11px;
  }

  .case__item {
    width: 32%;
    min-height: 400px;
  }

  .case__item__more {
    width: 66%;
  }

  .case__bgimg1 .case__title {
    bottom: 50px;
    padding-left: 20px;
  }

  .case__infbg {
    position: absolute;
    bottom: 30px;
  }

  .case__bgimg2 .case__title {
    padding-left: 20px;
  }

  .case__bgimg2 .case__publ {
    padding-left: 20px;
  }

  .case__bgimg3 .case__title {
    padding-left: 20px;
  }

  .case__bgimg3 .case__publ {
    padding-left: 20px;
  }

  .case__inf {
    padding: 30px 20px 20px 20px;
  }

  .case__title {
    max-width: 90%;
    font-size: 17px;
    line-height: 20px;
  }
}

@media (min-width: 1100px) {
  .cases__list {
    gap: 14px;
  }
}

@media (min-width: 1200px) {
  .cases__list {
    gap: 12px;
  }
}

@media (min-width: 1400px) {
  .cases__list {
    gap: 16px;
  }
}

@media (min-width: 1800px) {
  .cases__list {
    gap: 20px;
  }
}

/* reviews */
@media (min-width: 400px) {
  .slider__wrapper{
    margin: 0 50px;
    padding: 30px 32px;
  }

  .slider__next {
    margin-left: 5px;
  }

  .slider__prev{
    margin-right: 5px;
  }

  .border__back {
    background-size: 70%;
    background-position: top 20px center;
  }

  .border__backback {
    background-size: 60%;
    background-position: top 10px center;
  }

}

@media (min-width: 576px) {
  .ednum, .specnum, .totalnum {
    font-size: 26px;
  }

  .border__back {
    background-size: 50%;
    background-position: top 25px center;
  }

  .border__backback {
    background-size: 45%;
    background-position: top 10px center;
  }
}

@media (min-width: 992px) {
  .reviews__title {
    margin-bottom: 50px;
  }
  .reviews {
    background: url("../img/right-quote-sign.png") no-repeat top left/23% 30%;
  }
}

@media (min-width: 1200px) {
  .slider-navigation{
    max-width: 150px;
  }

  .slider__wrapper{
    padding: 30px 32px;
    margin: 0 10px;
  }

  .slider__next {
    margin-left: 0px;
  }

  .slider__prev{
    margin-right: 0px;
  }

  .slider__wrapper {
    flex-direction: row;
  }

  .slider-navigation {
    display: flex;
  }

  .button_slide {
    flex-direction: row;
  }

  .counter {
    width: 149px;
    text-align: center;
    font-weight: 100;
  }

  .ednum,
  .specnum,
  .totalnum {
    font-weight: 100;
  }

  .horizontal-line {
    position: absolute;
    transform: rotate(90deg);
  }

  .slider-navigation {
    position: relative;
  }

  .slider-navigation::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 100%;
    background-color:#b9b9b9;
  }

  .slider__text {
    margin-right: 20px;
  }
}

@media (min-width: 1600px) {
  .reviews {
    background: url("../img/right-quote-sign.png") no-repeat top left/23% 60%;
  }

  .slider-navigation{
    max-width: 264px;
  }

  .counter{
    width: 200px;
  }

  .slider__wrapper{
    padding: 30px 50px;
  }

  .slider__next {
    margin-left: 20px;
  }

  .slider__prev{
    margin-right: 20px;
  }

  .border__back {
    background-size: 45%;
    background-position: top 20px center;
  }

  .border__backback {
    background-size: 40%;
    background-position: top 0 center;
  }
}


/* workWithUs */
@media (min-width: 576px) {
  .inf__text {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .image-slider__slide {
    width: 180px;
  }

  .image-slider__image {
    height: 100px;
  }
}

@media (min-width: 1024px) {
  .image-slider__slide {
    width: 220px;
  }

  .image-slider__image {
    height: 120px;
  }

  .inf__text {
    margin: 0 auto;
    max-width: 60%;
  }
}

@media (min-width: 1920px) {
  .inf__title {
    font-size: 41px;
  }

  .inf__text {
    font-size: 22px;
  }
}


/* FAQ */
@media (min-width: 1600px) {
  .faq__title {
    margin-bottom: 70px;
  }

  .question__title {
    font-size: 20px;
  }

  .question__text {
    font-size: 20px;
  }

  .num {
    left: -13px;
    font-size: 16px;
  }

  .fixnum {
    left: -21px;
  }
}


/* footer */
@media (min-width: 768px) {
  .footer {
    background: linear-gradient(
        254.72deg,
        rgba(255, 255, 255, 0.276) -114.85%,
        rgba(255, 255, 255, 0) 69.04%
      ),
      url("../img/D-flying.svg") no-repeat top center/100% 13%,
      url("../img/D.png") no-repeat bottom right/24% 7%, #040613;
  }
}

@media (min-width: 828px) {
  .line {
    bottom: 179px;
  }
}

@media (min-width: 992px) {
  .footer {
    background: linear-gradient(
        254.72deg,
        rgba(255, 255, 255, 0.276) -114.85%,
        rgba(255, 255, 255, 0) 69.04%
      ),
      url("../img/D-flying.svg") no-repeat top center/100% 13%,
      url("../img/D.png") no-repeat bottom right/20% 10%, #040613;
  }
}

@media (min-width: 1200px) {
  .footer__top {
    flex-direction: row;
    gap: 10%;
  }

  .footer__title {
    margin: 0;
    margin-bottom: 20px;
    max-width: 100%;
    text-align: left;
  }

  .footer__text {
    margin-bottom: 130px;
    font-size: 14px;
    line-height: 20px;
  }
}

@media (min-width: 1600px) {
  .footer {
    background: linear-gradient(
        254.72deg,
        rgba(255, 255, 255, 0.276) -114.85%,
        rgba(255, 255, 255, 0) 69.04%
      ),
      url("../img/D-flying.svg") no-repeat top center/100% 28%,
      url("../img/D.png") no-repeat bottom right/25% 27%, #040613;
  }

  .footer__title {
    font-size: 30px;
    line-height: 51.2px;
    max-width: 75%;
  }

  .footer__text {
    max-width: 75%;
    margin-bottom: 200px;
  }
}

@media (min-width: 1920px) {
  .feedback {
    max-width: 45%;
  }

  .footer__title {
    font-size: 30px;
    line-height: normal;
  }

  .footer__text {
    margin-bottom: 150px;
    font-size: 14px;
    line-height: 24px;
  }

  .mail {
    font-size: 26px;
  }

  .input {
    font-size: 15px;
  }

  .form__textarea {
    font-size: 15px;
  }

  .form__check {
    font-size: 15px;
    line-height: 21px;
  }

  .rc-anchor-checkbox-label {
    font-size: 18px;
  }

  .footer__btn {
    font-size: 18px;
  }

  .line {
    bottom: 183px;
  }

  .footer__ps {
    line-height: 17px;
  }
}
